body{
    background-color: rgb(107, 40, 40);
margin: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 252, 69);
    margin: 0px;
    display: grid;
    grid-template-rows: 5fr 10fr 4fr ;
    grid-template-columns: 1fr;
}
.inner{
    width: 100%;
    height: 100%;
    
}
.section_one{
    background-color: rgb(255, 252, 69);

    text-align: center;position: relative;
}
h1{
    
    margin: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.section_two{

}
.circle{
    width: 200px;
    height: 200px ;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    position: relative;
    margin: 10% auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.eyes{
    width: 15px;
    height: 100%;
    margin: 0px 60px;
    
    display: inline-flex;
    flex-direction: column;
   justify-content: center;
   z-index: 2;
   
}
.dots{
    position: relative;
    margin: 25px 0px ;
    width: 100%;
    height: 15px;
    z-index: 2;
    background-color: rgb(202, 202, 202);
}
#one{
    margin-top: 30px ;
    margin-bottom: 20px;
}
.smile{
    position: relative;
    margin-left:-20px;
    width: 25px ;
    height: 120px;
    background-color: rgb(58, 58, 58);
    display: inline-block;
    overflow: hidden;
    z-index: 2;

}
.smile::after{
    content: '';
    position: absolute;
    top: -100px;
    left: -200px;
    right: 15px;
    bottom: -100px;
    background-color: rgb(58, 58, 58);
    border-radius: 95%;    
}
.smile::before{
    content: '';
    position: absolute;
    top: -100px;
    left: -200px;
    right: 0px;
    bottom: -100px;
    background-color: rgb(202, 202, 202);
    border-radius: 95%;    
}
.section_three{
    background-color: rgb(224, 71, 71);
    position: relative;
   
}
.section_three::before{
    content: '';
    background-color: rgb(255, 252, 69);
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 35%;
    left: 47%;
    width: 35px;
    height: 35px;
    transform: rotate(59.5deg) translate(0%,-100%) skewY(-35deg) scale(4);
    z-index: 1;
   
    
}

